<main>
    <h1 class="visually-hidden">Headers examples</h1>
  
    <div class="container">
      <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
          <span class="fs-4 navtitles"><b>RxJs Observables</b></span>
        </a>
  
        <ul class="nav nav-pills">
          <li class="nav-item pointer" [routerLink]="['../promises']" ><a class="nav-link" routerLinkActive="navBtn"><b>Promises</b></a></li>
          <li class="nav-item pointer" [routerLink]="['../observables']"><a  class="nav-link" routerLinkActive="navBtn" ><b>Observables</b></a></li>
        </ul>
      </header>
    </div>
</main>
