<div class="row py-3">
    <div class="col" [routerLink]="['fromevent']"><button type="button" class="btn btn-light btn-card-dimension lightbtn"><b>fromEvent()</b></button></div>
    <div class="col" [routerLink]="['offrom']"><button type="button" class="btn btn-light btn-card-dimension lightbtn"><b>of() & from()</b></button></div>
    <div class="col" [routerLink]="['toarray']" ><button type="button" class="btn btn-light btn-card-dimension lightbtn"><b>toArray()</b></button></div>
    <div class="col" [routerLink]="['customobservable']" ><button type="button" class="btn btn-light btn-card-dimension lightbtn"><b>CustomeObservable()</b></button></div>
</div>
<div class="row py-3">
    <div class="col" [routerLink]="['mapobservable']" ><button type="button" class="btn btn-light btn-card-dimension lightbtn"><b>mapobservable()</b></button></div>
    <div class="col" [routerLink]="['pluckobservable']" ><button type="button" class="btn btn-light btn-card-dimension lightbtn"><b>pluckObs()</b></button></div>
    <div class="col" [routerLink]="['filterobservable']" ><button type="button" class="btn btn-light btn-card-dimension lightbtn"><b>filterObs()</b></button></div>
    <div class="col" [routerLink]="['tapobservable']" ><button type="button" class="btn btn-light btn-card-dimension lightbtn"><b>tapObs()</b></button></div>
</div>
<div class="row py-3">
    <div class="col" [routerLink]="['takeobservable']" ><button type="button" class="btn btn-light btn-card-dimension lightbtn"><b>takeobservable()</b></button></div>
    <div class="col" [routerLink]="['debounceobservable']" ><button type="button" class="btn btn-light btn-card-dimension lightbtn"><b>debounceObs() & distinctUntilChgObs()</b></button></div>
    <div class="col" [routerLink]="['subjectobservable']" ><button type="button" class="btn btn-light btn-card-dimension lightbtn"><b>subjectObs()</b></button></div>
    <div class="col" [routerLink]="['tapobservable']" ><button type="button" class="btn btn-light btn-card-dimension lightbtn"><b>tapObs()</b></button></div>
</div>
