<div class="row py-3">
    <div class="col" [routerLink]="['fromevent']"><button type="button" class="btn btn-light btn-card-dimension lightbtn"><b>fromEvent()</b></button></div>
    <div class="col" [routerLink]="['offrom']"><button type="button" class="btn btn-light btn-card-dimension lightbtn"><b>of() & from()</b></button></div>
    <div class="col" [routerLink]="['toarray']" ><button type="button" class="btn btn-light btn-card-dimension lightbtn"><b>toArray()</b></button></div>
    <div class="col"><button type="button" class="btn btn-light btn-card-dimension lightbtn"><b>Obs. 4</b></button></div>
</div>
