<div class="container">
    <div class="row">
        <div class="col-6">
            <h3>Promises</h3>

            <button type="button" class="btn btnClass" (click)="getData()">Call Promise</button>
        
            <div class="row my-3">
                <div class="col-10">
                    <div class="list-group">
                        <ng-container *ngFor="let user of userData">
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                  <h5 class="mb-1">{{user.name}}</h5>
                                  <small>Employee Id : {{user.id}}</small>
                                </div>
                                <p class="mb-1">Company Name : {{user.company.name}}</p>
                                <small>email : {{user.email}}</small>
                              </a>
                        </ng-container>
                      </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <h3>Async / Await</h3>
            <button type="button" class="btn btnClass" (click)="asynFunction()">Async Call </button>

            <div class="alert alert-primary my-3" [ngClass]="asynMsg === 'DELETE WATCHLIST BROADCAST' ? 'alert-danger' : 'alert-success' " role="alert">
                <b>{{asynMsg}}</b>
            </div>
        </div>
    </div>
    
    
</div>