<div class="row">
    <div class="col-12">
        <h5>debounceTime() & distinctUntilChange()  Observables</h5>
        <p class="border rounded bg-light py-2 px-3">
            <b>Note:- </b>
            Here we also see if user enter "Shreyas" then enter "ShreyasS" and then press backup quickly this string become
            "Shreyas" after 2 second API gets call even the value is not change API is getting call to overcome this 
            we use distinctUntilChange() operator.
        </p>

        <div class="row">
            <div class="col-6">
                <p class="border rounded bg-light py-2 px-3"><b>Ex: 01 deboundTime() :- </b>
                    Here we have use debounceTim() operator which wait for few time given bu us and then execute the code below 
                    In this example we observe that user enter any value for search and after 2 sec we call the api and response 
                    gets print below. 
                </p>
                
                <hr>
                <div style="display: flex; width: 100%;">
                    <span style="display: flex; align-items: center;"><b>Search&nbsp;:-&nbsp;</b></span> 
                    <input class="form-control mx-3" type="search" placeholder="Search" #mySearchTerm>
                </div>
                <br>
                <div *ngIf="searchValue != ''" class="alert alert-success" role="alert">
                    Search Term is :- <p class="success"><b>{{searchValue}}</b></p>
                </div>
            </div>


            <div class="col-6">
                <p class="border rounded bg-light py-2 px-3"><b>Ex: 02 distinctUntilChange():- </b>
                    This operator used after debounceTime() it trigger after few time it also check wether the value is change or 
                    not only then the execute the below code.

                </p>
                <hr>
                <div style="display: flex; width: 100%;">
                    <span style="display: flex; align-items: center;"><b>Search&nbsp;:-&nbsp;</b></span> 
                    <input class="form-control mx-3" type="search" placeholder="Search" #mySearchTerm2>
                </div>
                <br>
                <div *ngIf="searchValue2 != ''" class="alert alert-success" role="alert">
                    Search Term is :- <p class="success"><b>{{searchValue2}}</b></p>
                </div>
            </div>


           
        </div>
    </div>
    

</div>
