<div class="row">
    <div class="col-6">
        <h5>FILTER Observables</h5>
        <p>tap operator in observables is used to filter the response as per the component requirement. 
            Using this we can pass the data which is only required and unwanted tags we can remove from it </p>
        <p><b>Ex: 01</b></p>
        <hr>
        <p class="border rounded bg-light py-2 px-3">
           <b>Filter : </b> By UserId = 3
        </p>
        <div class="row">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" *ngFor="let post of filteredPosts">
                            <b>Post Title:- </b> {{post.title | titlecase}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>
